<div class="row">
    <div class="col-sm-2 m-1">
        <label>Grupo</label>
        <RadzenDropDown Multiple="true" Chips="true"
                        MaxSelectedLabels="20" AllowClear="true"
                        AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                        Data=@Groups @bind-Value=@AuthorFilter.GroupsPath
                        TextProperty="Key" ValueProperty="Value"
                        Class="form-control" />
    </div>
    <div class="col-sm-3 m-1">
        <label>Usuário</label>
        <RadzenDropDown Multiple="true" Chips="true"
                        MaxSelectedLabels="20" AllowClear="true"
                        AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                        Data=@Authors @bind-Value=@AuthorFilter.Authors
                        TextProperty="Name" ValueProperty="Id"
                        Class="form-control" />
    </div>
    <div class="col-sm-2 m-1">
        <label>Data Inicial</label>
        <input type="date" @bind="AuthorFilter.StartAt" data-type="start-date" class="form-control" placeholder="Data Inicio">
    </div>
    <div class="col-sm-2 m-1">
        <label>Data Final</label>
        <input type="date" @bind="AuthorFilter.EndAt" data-type="end-date" class="form-control" placeholder="Data Fim">
    </div>
    <div class="col m-1">
        <button class="btn btn-primary mt-4" type="submit" @onclick="Search">
            <i class="fas fa-search fa-sm text-white-50"></i> Buscar
            <span class="spinner-border text-light spinner-border-sm ml-2" role="status" hidden="@hideLoader"></span>
        </button>
        <button class="btn btn-success mt-4 float-right" type="button">
            <i class="fas fa-file-excel fa-sm text-white-50"></i> Exportar
        </button>
    </div>
</div> 